<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    
    <h1>About The Finch Collector</h1>
    <p>The finch collector is a category of bird watcher that travels around the world to capture the beauty of their favorite bird: the finch.</p><br>
    <h3>Famous Finch Lovers:</h3>
    <ul>The Log Lady</ul>
     <ul>Larry David</ul> 
    <ul>Nick Cave</ul>
    <ul>Carl Spackler</ul> 
    {% endblock %}
</body>
</html>